.block {
    margin-top: 10px;
    border-radius: 5px;
    background-color: #CECECE;

    &_header {
        height: 60px;
        display: flex;
        justify-content: space-between;

        &__content {
            display: flex;
            gap: 30px;
        }

        &__text {
            display: flex;
            width: 300px;
            height: 60px;
            padding-left: 30px;
            background-color: #0C4493;
            border-radius: 5px;

            span {
                display: flex;
                align-items: center;
            }
        }
    }

    &_description {
        padding: 30px 40px;
        margin-left: 40px;
        border-radius: 0px 0px 5px 0px;
        background-color: #FFF;
    }
}