.map_wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.menu_container {
    width: 316px;
    position: absolute;
    z-index: 1000;
    top: 18vh;
    left: 10px
}

:global(.leaflet-interactive:focus) {
    outline: none;
}
