.block {
    position: absolute;
    z-index: 1000;
    padding: 10px;
    bottom: 10px;
    right: 10px;
    border: 2px solid #61616180;
    border-radius: 5px;
    color: #616161;
    background-color: #ECECECF5;

    &:hover {
        cursor: default;
    }

    &__text {
        width: 120px;
        display: block;
        text-align: center;
    }
}