.block {
	position: absolute;
	right: 12px;
	bottom: 8px;
	z-index: 1000;
	background: none;
	padding: 0;
	margin: 0;

	pointer-events: none;
}

.block__text_light {
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;

	text-shadow:
		0 0 2px rgba(0, 0, 0, 0.6),
		0 0 4px rgba(0, 0, 0, 0.6);
}

.block__text_dark {
	font-size: 11px;
	font-weight: 400;
	color: #000000;

	text-shadow:
		0 0 2px rgba(255, 255, 255, 0.9),
		0 0 4px rgba(255, 255, 255, 0.9);
}
