.user_menu_button 
{
    display: block;
    color: white;
    text-align: center;

    &_avatar_container {
        height: 70px;
    }

    &_caption {
        display: block;
        font-size: 10px;
        font-family: Roboto, Helvetica, Arial, sans-serif
    }
}