.block {
    position: relative;
    padding: 5px;
    min-height: 50px;
    transition: 0.5s;

    &__actions {
        top: 5px;
        right: 5px;
        position: absolute;
        display: flex;
        gap: 5px;
        height: 50px;
    }

    & .block__actions {
        display: none;
    }

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.2);
    }

    &:hover .block__actions {
        display: flex;
    }
}