@mixin layout($heigth) {
    display: flex;
    height: calc(100vh - #{$heigth});
    max-height: 100%;
}

$bg-img: url('../../../../shared/assets/gallery/auth_bg.png');

.main {
    @include layout(110px);
}

.container {
	width: 100%;
}
