.create {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__btn {
        min-width: 60px;
        width: 60px;
        height: 60px;
    }
}

.modal {
    padding: 40px 100px;

    &__fields {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 30px;
    }

    &__actions {
        margin-top: 30px;
        
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}