$bg-img: url('../../../../shared/assets/gallery/auth_bg.png');

.auth {
    display: flex;
    height: calc(100vh - 70px);
    max-height: 100%;
    background-image: $bg-img;
}
  
.container {
	width: 100%;
}
