.btn {
    position: absolute !important;

    &__right {
        top: -80px;
        left: 5px;
    }

    &__left {
        top: 5px;
        left: calc(100% - 46px);
    }
}

.control_button {
    width: 46px !important;
    height: 46px !important;
    color: #FFF !important;
}

.control_button_round {
    background-color: #187de3 !important;
    border-radius: 50% !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.control_icon {
    font-size: 24px !important;
}

.panel {
    z-index: 2;
    position: relative;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 1px 1px 5px;

    &__header {
        padding: 5px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        background-color: #CECECE;
        vertical-align: middle;
    }

    &__footer {
        padding: 7px;
        display: flex;
        justify-content: space-between;
    }
}