.header {
    color: #FFF;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(360deg, #0C4493 0%, #1969CB 100%);

    &:first-child {
        align-self: center;
    }
    
    &__title {
        width: 700px;
        font-size: 22px;
        text-align: center;
        align-self: center;
    }

    &__user_menu_block{
        margin-right: 0;
        margin-left: auto;
    }
}